.invert{
    filter: invert(1);
}

.flex{
    display: flex;
}

.align{
    display: flex;
    align-items: center;
}

.padding{
    padding: 7px 0px 0px 0px;
}

.card-padding{
    padding: 5px 0px;
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background for track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #333; /* Dark grey thumb */
    border-radius: 10px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Lighter grey on hover */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #333 #1a1a1a;
}

.bolder{
    font-weight: bolder;
}

.gap{
    gap: 8px;
}
